<li>
    {{burger_name}}
</li>

{{!-- <button class="devour-it" data-id="{{id}}">
        {{#if devoured}}Devour it!{{else}}WAKE UP!{{/if}}
    </button> --}}
{{!-- {{#if devoured}}
    <button class="devour-it" data-id="{{id}}">
        Devour it!
    </button>
    {{/if}} --}}
{{!-- <button data-id="{{id}}" class="delcat">Delete</button> --}}